In [1]:
from setup_notebook import *
import os

# Introduction

## Load study files

In [2]:
study_name = 'ERFCVU'

In [3]:
files = filter(lambda e: study_name in e, os.listdir(setup.path_raw_data))
files = list(files)
files

['.~lock.ERFCVU_EXKDCU_FINAL IMC EVD Codebook 5.9.2016_20190610.xlsx#',
 '.~lock.ERFCVU_PSSPatientBackground2019_June.csv#',
 'ERFCVU_EVDLabData_2019_November.csv',
 'ERFCVU_EVDPatientData_2019_November.csv',
 'ERFCVU_EVDRoundingData_2019_November.csv',
 'ERFCVU_EVDTreatmentData_2019_November.csv',
 'ERFCVU_EVDTriageData_2019_November.csv',
 'ERFCVU_EXKDCU_FINAL IMC EVD Codebook 5.9.2016_20190610.xlsx',
 'ERFCVU_PSSExit2019_June.csv',
 'ERFCVU_PSSFamilyandCaregiverSupport2019_June.csv',
 'ERFCVU_PSSPatientandFamilyFollowUp2019_June.csv',
 'ERFCVU_PSSPatientBackground2019_June.csv',
 'ERFCVU_EVDDischargeData_2019_November.csv']

In [4]:
for f in files:
    fp = join(setup.path_raw_data, f)
    print('------')
    !wc -l "$fp"
    !head "$fp" -n 2
    print()

------
0 ../IDDO_EDP/EDP_dataset/Original dataset/.~lock.ERFCVU_EXKDCU_FINAL IMC EVD Codebook 5.9.2016_20190610.xlsx#
,maousi,maousi-Z390-GAMING-X,23.11.2020 23:06,file:///home/maousi/.config/libreoffice/4;
------
0 ../IDDO_EDP/EDP_dataset/Original dataset/.~lock.ERFCVU_PSSPatientBackground2019_June.csv#
,maousi,maousi-Z390-GAMING-X,23.11.2020 23:30,file:///home/maousi/.config/libreoffice/4;
------
4298 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_EVDLabData_2019_November.csv
PatientKey,ETUKey,AGE,GENDER,Region,SubRegion,WardNumber,BedNumber,DateBloodDraw,TimeBloodDraw,LabCompletingTest,TestDate,Result,ResultDate,SampleNumber,LaboratoryCode,Referrer,SpecimenCollectionDate,DateSpecimenReceivedByLab,SpecimenType,InitialRepeat,HospitalizationDate,EbolaPCRResult,CT,CTqRT_PCRI,CT_ZAIRE,CT_MGB,MalariaResult,DateOnset,ETC,Comments,PatientStatus,MinimumRequirementStatus,EtuName,Admitkey,Flag
24515,2,NULL,U,Port Loko,Koya,NULL,NULL,NULL,NULL,PHE - Kerry Town,NULL,NULL,NULL,NULL,NULL,NULL,26/11/2014,NULL,NULL,New,NULL,POSITIVE,19.7,NULL,NULL,NULL,NULL,22/11/2014,NULL,NULL,NULL,NULL,NULL,1,NULL

------
2740 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_EVDPatientData_2019_November.csv
PatientKey,ETUKey,ETUName,PatientAge,PatientSex,PatientHeight,PatientWeight,PatientAddressRegion,PatientAddressSubRegion,PatientPreviousEbolaTest,PatientPreviousEbolaTestDate,PatientEbolaTestResult,NameOfLab
26096,5,Makeni,50,1,179,55,Bombali,Gbanti Kamaranka,NULL,NULL,NULL,NULL

------
16031 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_EVDRoundingData_2019_November.csv
PatientKey,AdmitKey,ETUKey,RoundingDay,DateVisit,TimeVisit,BedNo,WellnessScale,Temperature,HeartRate,RespiratoryRate,Consciousness,UrineFreq,StoolFreq,PatientEat,PatientDrink,Headache,StomachPain,Weakness,Anorexia,SwallowingProblems,ChestPain,Fever,BoneMusclePain,MusclePain,JointPain,Cough,Throat,Jaundice,Anuria,PainBehindEye,ComaUnconscious,DisorientationConfused,Other1,Other2,NoSymptoms,Gums,Injection,NasalBleeding,BloodDiarrhea,Hemoptysis,Hematemesis,Vagina,Bruising,Haematoma,Haematuria,Conjunc,Nausea,Vomiting,Diarrhoea,Breathlessness,RedInjectedEyes,NonHemorrhagicRash,Hiccups,Bleeding,OtherSymptoms,DescribeOtherSymptoms,ReceivedPrescribedMeds,PrescribedAddtNotes,ClinicalNotes,Treatment,PatientRandomizedZMAPP,ZMAPPTreatment,ZMAPPToday,PatientDrinkDosage,flag
23968,1,3,1,26/02/2015,17:00:00, , ,36, , , , , , , ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0, , ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0, , , , , , , , , , ,0

------
25004 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_EVDTreatmentData_2019_November.csv
PatientKey,ETUKey,InpatientWeight,WardBedNumber,Allergies,DateOfTreatments,TimeOfTreatments,TreatmentDay,ORS,ORSDosage,Cefixime,CefiximeDaosage,Coartem,CaortemDosage,Paracetamol,ParacetamolDosage,Omeprazole,OmeprazoleDosage,VitaminA,VitaminADosage,VitaminC,VitaminCDosage,Multivitamins,MultivitaminsDosage,ZincSulphate,ZincSulphateDosage,Lorazepam,ExtraORS,Metrovldapy,Deltajoin,KCL20meg,RingersLactate,RingersLactateDosage,CodeinePhosphate,CodeinePhosphateDosage,Hatman,HatmanDosage,Cetriaxone,CetriaxoneDosage,Ondansetron,OndansetronDosage,Metoclopramide,MetoclopramideDosage,ArtemetherLumefantrine,ArtemetherLumefantrineDosage,Artesunate,ArtesunateDosage,Artemether,ArtemetherDosage,Metronidazole,MetronidazoleDosage,Ciprofloxacin,CiprofloxacinDosage,Promethacin,PromethacinDosage,Tramadol,TramadolDosage,MorphineSulf,MorphineHCL,Morphine,MorphineDosage,Diazepam,DiazepamDosage,Haloperidol,HaloperidolDosage,Chlorpromazine,ChlorpromazineDosage,NormalSaline,NormalSalineDosage,PhosphateInfusion,PhosphateInfusionDosage,PotasiumChlorideSodiumChloride,PotasiumChlorideSodiumChlorideDosage,D50,D50Dosage,Dextrose5%,Dextrose5%Dosage,Other1,Other1Name,Other1Dosage,Other2,Other2Name,Other2Dosage,Other3,Other3Name,Other3Dosage,Other4,Other4Name,Other4Dosage,Other5,Other5Name,Other5Dosage,Other6,Other6Name,Other6Dosage,Other7,Other7Name,Other7Dosage,Flag,AdmitKey
23370,1, , , ,05/11/2014,AFT,3,1, , , , , ,1, , , , , ,1, , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,1,2

------
2745 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_EVDTriageData_2019_November.csv
PatientKey,AdmitKey,ETUKey,TriageFormDate,Transport,WhereWasPatientTriaged,InfoProvidedBy,SymptonOnsetDate,Fever,FeverNoDays,FeverTemperature,Headache,Nausea,Vomit,BloodyVomit,Diarrhoea,BloodyDiarrhoea,Anorexia,Cough,JointPain,ChestPain,HaemorrhagicEyes,OtherHaemorrhage,Breathlessness,BoneMusclePain,LossAppetite,AstheniaWeakness,AbdominalPain,Jaundice,Throat,SwallowingProblems,Rash,Hiccups,Photophobia,Confusion,Coma,Bleeding,Gums,Injection,Nose,Stool,FreshVomit,DigestVomit,CoughBlood,Vagina,Skin,Urine,EbolaContact,Fluids,Travel,BushMeat,IllInFamily,VisitedSomeoneIll,SomebodyDiedRecently,BeenToFuneral,SuspicionEbola,BedNumberAdmitted,PatientPregnant,PatientFarAlong,PatientHealthcareWorker,HealthcareWorkerPosition,HealthcareWorkerFacility,HealthcareWorkerLocationRegion,HealthcareWorkerLocationVillage,HealthcareWorkerLocationSubRegion,SpecifyOccupation,VisitAnotherHealthFacility,VisitCentreFacility,VisitCentreFacilityRegion,VisitCentreFacilitySubRegion,VisitCentreVillage,PatientVisitTraditionalHealer,TraditionalHealerSubRegion,TraditionalHealerRegion,DateVisitedFacility,LocationPatientIllRegion,LocationPatientIllSubRegion,AdditionalMedicalProbs,AdditionalMedicalProbsDesc,Allergies,AllergiesList,Admitted,PreviousLabConfirmed,PreviousDateLabConfirmed,NameOfLab,PatientReceivedEVDVaccine,PatientWalking,Notes,AdmittedWard,EtuName,Flag
24230,1,2,18/03/2015,Other Ambulance,ETC Triage tent,Someone else,16/03/2015,1,,37.3,1,0,0,0,1,0,,,,,0,0,0,1,0,0,1,0,,0,,0,,,,0,,,,,,,,,,,0,,,,0,0,0,0,,S13,,,,,,,,,,,,,,,,,,,Port Loko,Buya Romende,,,,,,,,,,1,,suspect,Lunsar,1

------
352 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_EXKDCU_FINAL IMC EVD Codebook 5.9.2016_20190610.xlsx
?�9L�ҙ�sbgٮ|�l!��USh9i�b�r:"y_dl��D���|-N��R"4�2�G�%��Z�4�˝y�7	ë��ɂ���  �� PK    ! ��`@    xl/_rels/workbook.xml.rels �(�                                                                                                                                                                                                                                                                 ���j�0E����Ѿ��$NRbgS                                                                                                                                                                                                                                ��MO�0��H�����ݐBKwAH�!T~�I����$ݿ'T�G�~����<���!��4��;#�w����qu*&r�Fq���v�����GJy(v��*����K��#F��D��.W	��=��Z�MY�b���BS�����7��ϛז��ɸ�������\{���;
ٶ�{� �d4��_�Ҥ�0��h#	�9ܑ4����6� ��V)a�P�.U������aZ�

------
1664 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_PSSExit2019_June.csv
PatientKey,AdmitKey,ETU Key,Exit_Date,Exit_Type,Solidarity_Kit,Transport Money,Family Contacted,Exit Interview,Number of Exit Interviews,Services Referred to,Referred to children services,Number of Children Referred,Deceased,Family informed burial plot location,Buried,Fam_Attend,Family invited to Burial,Bereavement kit,Services Referred,Discharge_Call,Audit Source Field
25296,1,5,31/12/2014,Discharged Negative,1,,0,0,0,MATENEH EBOLA TREATMENT CENTRE,,,0,0,0,,0,0,,0,Makeni PSS Patient Tracking Form_old version_Sorie_150818 4) ETC Exit

------
4914 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_PSSFamilyandCaregiverSupport2019_June.csv
PatientKey,AdmitKey,ETU Key,Family and Caregiver Support Date,Attempted to Contact,Successfully spoken to by phone,Contacted/visited in the community,Family or other visitors came to visit the patient at ETC,Patient's family contacted or spoken,Audit Source Field,Flag
23382,1,1,28/11/2014,1,0,0,0, , ,1

------
11344 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_PSSPatientandFamilyFollowUp2019_June.csv
PatientKey,Admitkey,ETU Key,Date of Visit,Attempted follow-up with patient or family,Successfully spoken to patient or family by phone,Visited patient and/or family in the community,Successfully contacted or followed up,Audit Source Field
24884,1,5,10/03/2015,1,0,0,0,Makeni PSS Patient Tracking Form_old version_Mo_150818 5) Patient and Family Follow-Up (after ETC)

------
1670 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_PSSPatientBackground2019_June.csv
Column 1,Column 2,Column 3,Column 8,Column 9,Column 10,Column 11,Column 12,Column 14,Column 15,Column 16,Column 17,Column 33,Column 34,Column 35,Column 36
25416,1,5,00:00.0,0,28,BOMBALI,BOMBALI SHEBORA,2,PROBABLE,13,4,00:00.0,16,Makeni PSS Patient Tracking Form_old version_Sorie_150818 1) Patient Background,17

------
2677 ../IDDO_EDP/EDP_dataset/Original dataset/ERFCVU_EVDDischargeData_2019_November.csv
PatientKey,AdmitKey,DischargeDate,ExitWeight,FinalDiagnosis,Disposition,DateOfDeath,TimeDeathConfirmed,DateTransferredMorgue,TimeTransferredMorgue,DateBurial,TimeBurial,DischargeType,ConfirmedNegative,NeverHaveEbola,RecoveredFromEbola,DischargeMedicationsProvided,DischargeMedsList,ReasonForTransfer,DistrictTownNewFacility,DischargeMedsTransfer,DischargeMedsTransferList,ReferralPsychoSocialTeam,FinalOutcome,Flag
23431,1,07/11/2014,NULL,Other,Survived,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0

**The `.xlsx` file is a data dictionnary**. We load all `.csv` files:

In [5]:
csv = {}
for f in files:
    if not f.endswith('.csv'):
        continue
        
    fname = f.split('_')[1]
    print(fname, end=', ')
    csv[fname] = pd.read_csv(join(setup.path_raw_data, f))

EVDLabData, EVDPatientData, EVDRoundingData, EVDTreatmentData,

/home/maousi/anaconda3/envs/ml/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (16,17,18,19,20,23,49,50,51,52,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/maousi/anaconda3/envs/ml/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0,4,7,8,9,10,12,14,16,18,20,22,24,26,27,28,29,30,31,32,33,34,35,37,39,41,42,43,44,45,46,47,49,50,51,52,53,54,55,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,73,74,75,76,77,80,83,85,86,87,88,89,90,91,92,93,94,95,96,97) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

EVDTriageData, PSSExit2019, PSSFamilyandCaregiverSupport2019, PSSPatientandFamilyFollowUp2019, PSSPatientBackground2019, EVDDischargeData,

In [6]:
# Describe dataframes:
for name, df in csv.items():
    npatients = 'no patients'
    if 'PatientKey' in df.columns:
        npatients = f'{df.PatientKey.nunique()} unique patients'
        
    print(f'{name}: shape {df.shape}, {npatients}')

EVDLabData: shape (4297, 36), 2101 unique patients
EVDPatientData: shape (2739, 13), 2739 unique patients
EVDRoundingData: shape (16030, 66), 2070 unique patients
EVDTreatmentData: shape (25003, 100), 2518 unique patients
EVDTriageData: shape (2744, 91), 2715 unique patients
PSSExit2019: shape (1663, 22), 1644 unique patients
PSSFamilyandCaregiverSupport2019: shape (4913, 11), 1151 unique patients
PSSPatientandFamilyFollowUp2019: shape (11343, 9), 1026 unique patients
PSSPatientBackground2019: shape (1669, 16), no patients
EVDDischargeData: shape (2676, 25), 2647 unique patients

In [7]:
from collections import Counter

In [8]:
# ------ Report columns
cols = []
for df in csv.values():
    cols.extend(df.columns)
column_count = Counter(cols)

# Show counts of columns across all dataframe
sorted(list(column_count.items()), key=lambda tpl: tpl[1], reverse=True)[:10]

[('PatientKey', 9),
 ('AdmitKey', 6),
 ('ETUKey', 5),
 ('Flag', 5),
 ('ETU Key', 3),
 ('Audit Source Field', 3),
 ('EtuName', 2),
 ('Admitkey', 2),
 ('NameOfLab', 2),
 ('Headache', 2)]

## Data dictionnary

In [9]:
dic_path = join(setup.path_raw_data, 'ERFCVU_EXKDCU_FINAL IMC EVD Codebook 5.9.2016_20190610.xlsx')
dic_file = pd.ExcelFile(dic_path)
sheets = dic_file.sheet_names
sheets

['Patient',
 'Discharge',
 'Triage',
 'Lab',
 'Rounding',
 'Treatment',
 'PSS Pt Background',
 'PSS Fam & Caregiver Support',
 'PSS Exit',
 'PSS Pt & Fam Follow Up',
 'PSS Pt Interventions',
 'PSS Pt Interventions Aggr']

In [10]:
dic = {
    sheet: pd.read_excel(dic_file, sheet_name=sheet, header=2)
    for sheet in sheets
}

# Lab data

In [11]:
lab = csv['EVDLabData']
lab.isna().mean().sort_values()

PatientKey                   0.000000
ETUKey                       0.000000
Admitkey                     0.000000
LabCompletingTest            0.018850
GENDER                       0.030719
SpecimenCollectionDate       0.031650
EbolaPCRResult               0.032814
InitialRepeat                0.037003
Region                       0.156854
Referrer                     0.250175
MalariaResult                0.340005
DateOnset                    0.387014
SubRegion                    0.389109
CT                           0.646032
EtuName                      0.669770
TestDate                     0.687224
LaboratoryCode               0.688620
SpecimenType                 0.699791
AGE                          0.710263
DateBloodDraw                0.740982
MinimumRequirementStatus     0.786828
PatientStatus                0.787061
SampleNumber                 0.841285
WardNumber                   0.899697
ResultDate                   0.899697
Result                       0.899697
BedNumber                    0.899697
TimeBloodDraw                0.900163
DateSpecimenReceivedByLab    0.912963
Comments                     0.919944
CT_MGB                       0.937631
CT_ZAIRE                     0.957645
CTqRT_PCRI                   0.991389
ETC                          0.993018
HospitalizationDate          0.997207
Flag                         0.999302
dtype: float64

In [12]:
lab

,PatientKey,ETUKey,AGE,GENDER,Region,SubRegion,WardNumber,BedNumber,DateBloodDraw,TimeBloodDraw,...,CT_MGB,MalariaResult,DateOnset,ETC,Comments,PatientStatus,MinimumRequirementStatus,EtuName,Admitkey,Flag
0,24515,2,NaN,U,Port Loko,Koya,NaN,NaN,NaN,NaN,...,NaN,NaN,22/11/2014,NaN,NaN,NaN,NaN,NaN,1,NaN
1,24516,2,NaN,U,Port Loko,Maforki,NaN,NaN,NaN,NaN,...,NaN,NaN,22/11/2014,NaN,NaN,NaN,NaN,NaN,1,NaN
2,24561,2,NaN,U,Port Loko,Bureh Kasseh Ma,NaN,NaN,NaN,NaN,...,NaN,NaN,21/11/2014,NaN,NaN,NaN,NaN,NaN,1,NaN
3,24523,2,NaN,U,Port Loko,Koya,NaN,NaN,NaN,NaN,...,NaN,NaN,18/11/2014,NaN,NaN,NaN,NaN,NaN,1,NaN
4,24514,2,NaN,U,Port Loko,Lokomasama,NaN,NaN,NaN,NaN,...,NaN,NaN,24/11/2014,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4292,25053,5,NaN,F,Western_Urban,NaN,NaN,NaN,NaN,NaN,...,NaN,Positive,25/04/2015,NaN,NaN,NaN,NaN,NaN,1,NaN
4293,25054,5,NaN,M,Bombali,Bombali Sebora,NaN,NaN,NaN,NaN,...,NaN,Positive,23/04/2015,NaN,NaN,NaN,NaN,NaN,1,NaN
4294,24222,2,NaN,F,Port_Loko,Marampa,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4295,24279,2,NaN,M,Port_Loko,Marampa,NaN,NaN,NaN,NaN,...,NaN,Negative,09/04/2015,NaN,NaN,NaN,NaN,NaN,1,NaN
4296,25051,5,NaN,M,Bombali,Bombali Sebora,NaN,NaN,NaN,NaN,...,NaN,Positive,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [13]:
for col in lab.columns[1:]:
    print(col, ':')
    print(lab[col].value_counts(), '\n')

ETUKey :
5    1817
2    1103
1     701
4     461
3     215
Name: ETUKey, dtype: int64

AGE :
25.0    49
30.0    43
32.0    42
40.0    41
3.0     41
        ..
69.0     1
83.0     1
74.0     1
76.0     1
90.0     1
Name: AGE, Length: 79, dtype: int64

GENDER :
M          2027
F          1896
U           240
Unknown       1
FSB           1
Name: GENDER, dtype: int64

Region :
Bombali               1015
Port_Loko              582
Bong                   557
Port Loko              374
Kambia                 331
Margibi                274
Tonkolili              150
NOT PRESENT            116
Grand Bassa             61
NOT STATED              47
Western_Urban           22
Montserrado             19
Moyamba                 14
Western_Rural           11
BOMBALI                  8
Koinadugu                6
Kono                     5
Kenema                   5
Not stated               4
Gbarpolu                 3
not stated               3
Bo                       2
NOT LEGIBLE              2
Lofa                     2
Bonthe                   2
San Pedro                2
WESTERN RURAL            1
Freetown                 1
PORT LOKO                1
Conakry                  1
Western area urban       1
Western Area Rur         1
Name: Region, dtype: int64

SubRegion :
Bombali Sebora    607
Marampa           358
NOT PRESENT       243
Kaffu Bullom      214
Magbema           108
                 ...
Nimikoro            1
MALALMARA           1
SHUBURAL            1
BOYA ROMENDE        1
Cote De Voire       1
Name: SubRegion, Length: 102, dtype: int64

WardNumber :
1 - Suspect          219
2 - Probable         140
3 - Confirmed         62
4 - Convalescence     10
Name: WardNumber, dtype: int64

BedNumber :
2.0       64
1.0       57
10.0      56
3.0       54
8.0       42
7.0       37
6.0       31
5.0       26
4.0       24
9.0       18
0.0        7
17.0       6
12.0       5
11.0       2
3631.0     1
3661.0     1
Name: BedNumber, dtype: int64

DateBloodDraw :
12/11/2014    22
17/10/2014    17
16/11/2014    14
18/12/2014    14
24/11/2014    13
              ..
03/09/2015     1
06/10/2015     1
25/05/2015     1
16/08/2015     1
31/12/2014     1
Name: DateBloodDraw, Length: 290, dtype: int64

TimeBloodDraw :
07:00:00    28
06:40:00    18
06:30:00    14
06:45:00    13
06:00:00    11
            ..
18:05:00     1
13:55:00     1
11:55:00     1
00:00:00     1
08:15:00     1
Name: TimeBloodDraw, Length: 142, dtype: int64

LabCompletingTest :
PHE - Makeni        1829
PHE - Port Loko     1040
US Navy              916
PHE Port Loko        399
PHE Makeni            23
PHE - Kerry Town       9
Name: LabCompletingTest, dtype: int64

TestDate :
18/12/2014    20
04/10/2014    19
12/11/2014    19
04/11/2014    18
07/12/2014    18
              ..
12/02/2015     1
16/09/2015     1
27/10/2014     1
16/08/2015     1
19/01/2015     1
Name: TestDate, Length: 291, dtype: int64

Result :
Negative         378
Positive          45
Indeterminate      7
Not Completed      1
Name: Result, dtype: int64

ResultDate :
07/06/2015    13
12/07/2015     9
03/07/2015     9
07/09/2015     7
19/06/2015     7
              ..
24/08/2015     1
16/07/2015     1
20/02/2015     1
20/05/2015     1
23/05/2015     1
Name: ResultDate, Length: 168, dtype: int64

SampleNumber :
1.0    424
2.0    161
3.0     45
4.0     26
5.0     15
6.0      5
7.0      5
8.0      1
Name: SampleNumber, dtype: int64

LaboratoryCode :
Bong             916
PHE Port Loko    399
PHE Makeni        23
Name: LaboratoryCode, dtype: int64

Referrer :
Makeni TU ETU                    1045
Bong ETU                          699
Other                             344
Lunsar ETU                        320
IMC ETU/Kakata                    217
Community/Ebola Response Team     128
NOT PRESENT                       106
Lunsar (Treatment Center)          92
Kamaranka                          64
Lunsar (Holding Center)            47
Lunsar ETC                         34
Arab Holding Centre                15
Lunsar IMC ETC                     12
LUNSAR                             11
Makeni Gov. Hospital EHC            9
IMC Lunsar                          8
Lunsar                              8
IMC ETC Lunsar                      7
Lunsar CCC                          6
NOT STATED                          5
JAH                                 4
PIH                                 3
Port Loko Government Hospital       2
Port Loko ETU                       2
None                                2
CCC Bombali                         2
Kambia Holding Centre               2
Mateneh ETC                         2
lunsar                              2
Maforki ETU                         2
MATENEH TU ETU                      1
PL Masiaka ETU                      1
Paramedical Holding Center          1
Masiaka holding unit                1
DBHT?                               1
Holy Spirit                         1
Kamabai CCC                         1
MAFORKI PIH ETU                     1
MAFORKI                             1
Masiaka Holding Unit                1
PL Masiaka EHU                      1
Tonkolili ETU                       1
Matotoka CCC                        1
LuNSAR                              1
Makaranka                           1
NOT LEGIBLE                         1
NOT GIVEN                           1
MAGBENTEH ETU                       1
Mateneh TU ETU                      1
Magbenteh Hospital ETU              1
IMC ET Lunsar                       1
KaMARANKA                           1
Name: Referrer, dtype: int64

SpecimenCollectionDate :
25/02/2015    50
27/12/2014    30
05/01/2015    28
28/02/2015    27
22/02/2015    27
              ..
02/10/2014     1
26/01/2016     1
30/09/2015     1
13/09/2014     1
07/09/2014     1
Name: SpecimenCollectionDate, Length: 369, dtype: int64

DateSpecimenReceivedByLab :
07/06/2015    15
07/09/2015     7
15/09/2015     7
06/08/2015     7
09/06/2015     7
              ..
25/07/2015     1
27/05/2015     1
18/08/2015     1
30/12/2014     1
23/08/2015     1
Name: DateSpecimenReceivedByLab, Length: 152, dtype: int64

SpecimenType :
Blood        1240
BLOOD          22
Dead Swab      12
Live Swab       9
EDTA            6
Blood           1
Name: SpecimenType, dtype: int64

InitialRepeat :
Follow-up (Treatment Center)    1517
New                             1390
Initial                          833
Repeat                           386
Follow-up                          8
Follow-Up                          2
initial                            1
Initail                            1
Name: InitialRepeat, dtype: int64

HospitalizationDate :
22/04/2015    3
27/04/2015    2
24/04/2015    1
02/05/2015    1
03/05/2015    1
18/04/2015    1
30/04/2015    1
29/04/2015    1
28/04/2015    1
Name: HospitalizationDate, dtype: int64

EbolaPCRResult :
Negative                                                              3321
POSITIVE                                                               398
Positive                                                               303
Indeterminate (see comments)                                            32
Pending (see comments)                                                  31
lab to repeat test - report to follow                                   21
Indeterminate                                                           19
Rejected (see comments)                                                 12
NEGATIVE                                                                 6
Pending                                                                  4
sample degraded - please repeat sampling                                 2
Insufficient sample                                                      2
negative                                                                 2
Unknown                                                                  1
NOT DONE, SPECIMEN INSUFFICIENT                                          1
SPECIMEN REPEATEDLY INDERTERMINATE, PLEASE SEND A REPEAT SPECIMEN.       1
Name: EbolaPCRResult, dtype: int64

CT :
0.0     1206
20.2       7
39.0       6
38.1       6
18.5       6
        ...
24.8       1
24.5       1
14.1       1
32.6       1
16.5       1
Name: CT, Length: 167, dtype: int64

CTqRT_PCRI :
19.98    1
24.40    1
26.35    1
27.90    1
17.88    1
21.42    1
16.08    1
24.14    1
30.28    1
20.88    1
27.46    1
21.39    1
18.11    1
17.77    1
22.32    1
24.18    1
24.66    1
18.71    1
33.28    1
15.53    1
20.76    1
27.53    1
18.45    1
16.63    1
19.50    1
17.10    1
31.01    1
17.21    1
19.95    1
19.18    1
18.48    1
30.09    1
22.81    1
14.39    1
19.38    1
34.73    1
30.00    1
Name: CTqRT_PCRI, dtype: int64

CT_ZAIRE :
27.5    4
25.4    4
35.1    4
26.8    3
26.9    3
       ..
30.8    1
30.1    1
21.5    1
22.5    1
29.1    1
Name: CT_ZAIRE, Length: 130, dtype: int64

CT_MGB :
39.7    7
36.7    5
39.9    5
39.5    5
20.7    4
       ..
21.0    1
18.5    1
29.0    1
39.0    1
20.0    1
Name: CT_MGB, Length: 153, dtype: int64

MalariaResult :
Negative                         1366
Not Applicable                    660
Positive                          500
Not Done                          252
NEGATIVE                           24
POSITIVE                           15
NOT DONE                            7
NOT APPLICABLE                      3
NEG                                 2
P. falciparum POSITIVE              1
Not done                            1
POSITIVE T1, WEAK POSITIVE T2       1
Test not requested                  1
insufficient                        1
negative                            1
POSITIVE T1 & T2                    1
Name: MalariaResult, dtype: int64

DateOnset :
11/11/2014    35
16/12/2014    26
06/06/2015    24
28/06/2015    23
06/09/2015    21
              ..
17/09/2014     1
21/08/2014     1
09/05/2015     1
20/10/2015     1
08/12/2004     1
Name: DateOnset, Length: 385, dtype: int64

ETC :
1.0    30
Name: ETC, dtype: int64

Comments :
FACILITY- IMC                                                      156
FACILITY- IMC                                                       24
FACILITY-IMC                                                        20
FACILITY - IMC                                                      17
FACILITY-IMC ETC                                                    15
FACILITY- IMC (SECOND SAMPLE)                                       14
FACILITY- IMC (FOLLOW-UP SAMPLE)                                    10
FACILITY-IMC                                                         8
FACILITY- IMC SYMPTOM ONSET UNKNOWN                                  6
FACILTY-IMC                                                          4
FACILITY- IMC FROM GUINEA; SYMPTOM ONSET UNKNOWN                     4
FACILITY- IMC (SYMPYOM ONSET NOT INDICADED)                          4
FACILITY- IMC (NO DATE OF ONSET)                                     3
FACILITY- IMC NO DATE OF SYMPTOM ONSET                               3
FACILITY - IMC                                                       3
FACILITY-IMC (SECOND SAMPLE)                                         3
FACILITY- IMC (4TH TEST)                                             3
IMC ETC                                                              3
FACILITY - IMC CLOTTED SAMPLE NOT SUITABLE FOR MP                    2
FACILITY- IMC  LATE SAMPLE                                           2
FACILITY - IMC SYMPTOM ONSET UNKNOWN                                 2
Facility- IMC ETC                                                    2
FACILITY-IMC (NO DATE OF ONSET)                                      2
FACILITY- IMC SAMPLES CAME IN LATE                                   2
FACILITY- IMC ETC                                                    1
FACILITY- IMC NO DATE OF ONSET                                       1
FACILTY-IMC PATIENT IS FROM GUINEA                                   1
FACILITY- IMC NO CHIEFDOM STATED                                     1
FACILITY- IMC NO SYMPTOM ONSET DATE                                  1
FACILITY-IMC(NO DATE OF ONSET)                                       1
FACILITY- IMC ETC                                                    1
FACILITY- IMC (SYMPYOM ONSET, DISTRIC & CHIEFDOM NOT INDICADED)      1
FACILITY - IMC  REPEATED                                             1
FACILTY -IMC                                                         1
FACILITY- IMC, DISTRICT - BONBALI, CHIEFDOM - MAKENI TOWN            1
FACILITY- IMC CHIEFDOM- RURAL                                        1
FACILITY-IMC - NO SYMPTOMS DATE PROVIDED                             1
FACILITY-IMC ETC FROM GUINEA, FRESH SAMPLE REQUIRED                  1
FACILITY - IMC NOT READY                                             1
FACILITY- IMC (SECOND SAMPLE FOLLOW-UP)                              1
FACILITY- IMC (SYMPYOM ONSET & SEX NOT INDICADED)                    1
FACILITY -IMC (FOLLOW-UP SAMPLE)                                     1
FACILITY-IMC (NO DATE OF ONSET)                                      1
FACILITY-IMC// REQUESTED FOR A FRESH SAMPLE                          1
FACILITY - IMC REPEAT WITH FRESH SAMPLE                              1
FACILITY-IMC (FOLLOW-UP SAMPLE)                                      1
FACILITY- IMC- bring fresh sample, SYMPTOM ONSET UNKNOWN             1
FACILITY- IMC (INSUFFICIENT BLOOD FOR MP)                            1
FACILITY- IMC  NO DISTRICT, CHIEFDOM & TOWN STATED                   1
FACILITY-IMC ETC FROM GUINEA                                         1
FACILITY-IMC  REPEAT FROM YESTERDAY                                  1
FACILITY - IMC PT FROM GUINEA, NO DISTRICT STATED                    1
FACILITY- IMC   (SECOND SAMPLE)                                      1
FACILITY- IMC                                                        1
FACILITY- IMC  (NO DATE OF ONSET)                                    1
FACILITY- IMC, CHIEFDOM(WESTERN AERA)                                1
Name: Comments, dtype: int64

PatientStatus :
Alive    897
Dead      18
Name: PatientStatus, dtype: int64

MinimumRequirementStatus :
Complete      862
Incomplete     54
Name: MinimumRequirementStatus, dtype: int64

EtuName :
Bong       701
Kambia     461
Margibi    215
Makeni      41
Lunsar       1
Name: EtuName, dtype: int64

Admitkey :
1    4238
2      59
Name: Admitkey, dtype: int64

Flag :
1.0    3
Name: Flag, dtype: int64

In [14]:
lab.PatientKey.nunique()

2101

## Dates

In [15]:
# Columns containing "date" (case insensitive)
dates = list(filter(lambda e: 'date' in e.lower(), lab.columns))
dates

['DateBloodDraw',
 'TestDate',
 'ResultDate',
 'SpecimenCollectionDate',
 'DateSpecimenReceivedByLab',
 'HospitalizationDate',
 'DateOnset']

In [16]:
# Fraction of missing values in date columns
lab[dates].isna().mean().sort_values()

SpecimenCollectionDate       0.031650
DateOnset                    0.387014
TestDate                     0.687224
DateBloodDraw                0.740982
ResultDate                   0.899697
DateSpecimenReceivedByLab    0.912963
HospitalizationDate          0.997207
dtype: float64

We compare

In [17]:
lab[~lab.DateOnset.isna()][['DateOnset', 'SpecimenCollectionDate']]

       DateOnset SpecimenCollectionDate
0     22/11/2014             26/11/2014
1     22/11/2014             26/11/2014
2     21/11/2014             26/11/2014
3     18/11/2014             28/11/2014
4     24/11/2014             29/11/2014
...          ...                    ...
4289  23/04/2015             26/04/2015
4291  23/04/2015             26/04/2015
4292  25/04/2015             26/04/2015
4293  23/04/2015             26/04/2015
4295  09/04/2015             27/04/2015

[2634 rows x 2 columns]

In [18]:
lab[~lab.TestDate.isna()][['TestDate', 'DateOnset', 'SpecimenCollectionDate']]

        TestDate   DateOnset SpecimenCollectionDate
137   20/10/2014  17/10/2014             21/10/2014
159   13/11/2014  08/11/2014             12/11/2014
160   13/11/2014  11/11/2014             12/11/2014
161   26/11/2014  11/11/2014             26/11/2014
162   28/11/2014  11/11/2014             28/11/2014
...          ...         ...                    ...
4262  16/11/2014  14/11/2014             16/11/2014
4263  17/11/2014  01/11/2014             17/11/2014
4264  06/09/2015  04/06/2015             06/09/2015
4281  28/12/2014  16/12/2014             28/12/2014
4282  30/12/2014  16/12/2014             30/12/2014

[1344 rows x 3 columns]

**TODO: what to do with dates, are they reliable? what is `SpecimenCollectionDate`?**

## Patients overview

We describe the distribution of the number of records per patient:

In [19]:
lab.PatientKey.value_counts().describe()

count    2101.000000
mean        2.045217
std         1.219427
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max        14.000000
Name: PatientKey, dtype: float64

In [20]:
# Records of patient with 14 records
weird_patient = lab.PatientKey.value_counts().index[0]
lab[lab.PatientKey == weird_patient][['EbolaPCRResult'] + dates]

,EbolaPCRResult,DateBloodDraw,TestDate,ResultDate,SpecimenCollectionDate,DateSpecimenReceivedByLab,HospitalizationDate,DateOnset
3345,Negative,NaN,NaN,NaN,06/04/2015,NaN,NaN,NaN
3346,Negative,NaN,NaN,NaN,06/04/2015,NaN,NaN,NaN
3398,Negative,NaN,NaN,NaN,16/03/2015,NaN,NaN,16/03/2015
3399,Negative,NaN,NaN,NaN,16/03/2015,NaN,NaN,16/03/2015
3490,Negative,NaN,NaN,NaN,18/03/2015,NaN,NaN,13/03/2015
3491,Negative,NaN,NaN,NaN,18/03/2015,NaN,NaN,13/03/2015
3609,POSITIVE,NaN,NaN,NaN,24/03/2015,NaN,NaN,NaN
3610,POSITIVE,NaN,NaN,NaN,24/03/2015,NaN,NaN,NaN
3810,POSITIVE,NaN,NaN,NaN,08/04/2015,NaN,NaN,NaN
3811,POSITIVE,NaN,NaN,NaN,08/04/2015,NaN,NaN,NaN
3834,POSITIVE,NaN,NaN,NaN,01/04/2015,NaN,NaN,NaN
3836,POSITIVE,NaN,NaN,NaN,01/04/2015,NaN,NaN,NaN
3987,Negative,NaN,NaN,NaN,10/04/2015,NaN,NaN,NaN
3988,Negative,NaN,NaN,NaN,10/04/2015,NaN,NaN,NaN

## Ebola Target

In [21]:
# Harmonize
lab.EbolaPCRResult = lab.EbolaPCRResult.str.lower()

The following `Series` contains the number of unique patients for each category of `EbolaPCRResult`:

In [22]:
lab.groupby('EbolaPCRResult').PatientKey.nunique().sort_values()

EbolaPCRResult
not done, specimen insufficient                                          1
specimen repeatedly inderterminate, please send a repeat specimen.       1
unknown                                                                  1
insufficient sample                                                      2
sample degraded - please repeat sampling                                 2
pending                                                                  4
rejected (see comments)                                                 10
indeterminate                                                           17
lab to repeat test - report to follow                                   18
indeterminate (see comments)                                            21
pending (see comments)                                                  30
positive                                                               425
negative                                                              1841
Name: PatientKey, dtype: int64

Note that this sum to more than the total number of patients, since a patient can appear in several categories. Let's drop the rows with `EbolaPCRResult` that is neither `positive` or `negative` (therefore, `nan`s are also discarded):

In [23]:
mask_valid_target = lab.EbolaPCRResult.isin(['positive', 'negative'])
print(mask_valid_target.value_counts())

# Remove unvalid targets
lab = lab[mask_valid_target]

True     4030
False     267
Name: EbolaPCRResult, dtype: int64

The following `Series` computes the number of distinct ebola target per patient, i.e. whether a patient is either positive or negative, or has both targets:

In [24]:
target_count_per_patient = lab.groupby('PatientKey').EbolaPCRResult.nunique()
target_count_per_patient

PatientKey
1        1
2        1
3        1
4        1
5        1
        ..
26121    1
26122    1
26123    1
26138    1
26160    1
Name: EbolaPCRResult, Length: 2056, dtype: int64

We want to know how many patients have both positive and negative targets:

In [25]:
target_count_per_patient.value_counts()

1    1846
2     210
Name: EbolaPCRResult, dtype: int64

We should check the consistency of records that have both positive and negative records. The problem is that the dates seem inconsistent, so we cannot use dates to check chronology of records.

**TODO: find better result than dropping those records.**

**TODO: check if there are many Ebola positive records within patients with two records.**

In [26]:
patients_single_target = target_count_per_patient[target_count_per_patient == 1].index
patients_single_target.size

1846

In [27]:
print(lab.PatientKey.nunique())
# Drop patients having more than one target
lab = lab[lab.PatientKey.isin(patients_single_target)]
lab.PatientKey.nunique()

2056

1846

Now, all records refer to patients having a single target (but possibly several records of the same target).

In [28]:
# Recover the (now unique) ebola test result of each patient
target = lab.groupby('PatientKey').EbolaPCRResult.unique().apply(lambda lst: lst[0])
target.value_counts()

negative    1631
positive     215
Name: EbolaPCRResult, dtype: int64

In [29]:
# Convert to binary
target = (target == 'positive') * 1
target.value_counts()

0    1631
1     215
Name: EbolaPCRResult, dtype: int64

**We now have the classifier target specifying whether a patient has ebola or not. This is a `pandas.Series`: the index is `PatientKey`, the value is binary.**

## Malaria test

In [30]:
lab.MalariaResult.value_counts()

Negative                         1097
Not Applicable                    544
Positive                          457
Not Done                          174
NEGATIVE                           21
POSITIVE                           12
NOT DONE                            7
NOT APPLICABLE                      3
Not done                            1
POSITIVE T1, WEAK POSITIVE T2       1
Test not requested                  1
insufficient                        1
negative                            1
POSITIVE T1 & T2                    1
Name: MalariaResult, dtype: int64

**TODO: clean malaria**